
.container {
    display: flex;
    justify-content: center;
    /*height: 100vh;*/
    background-color: #f0f0f0;
}

.container-esquerdo {
    width: 30%;
    padding: 20px;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.container-esquerdo-logo {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
}

.container-esquerdo-menu {
    padding: 36px;
    flex: 1;
}

.container-esquerdo-menu ul {
    list-style: none;
    padding: 0;
}

.container-esquerdo-menu li {
    padding: 10px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
}

.container-esquerdo-menu li.active,
.container-esquerdo-menu li:hover {
    background-color: #555;
}

.container-esquerdo-menu li:hover a {
    text-decoration: none;
}

.container-esquerdo-menu li a {
    display: flex;
    align-items: center;
    margin-left: 16px;
}

.container-esquerdo-menu li a i {
    margin-right: 10px;
}

.container-esquerdo-rodape ul {
    list-style: none;
    text-align: center;
}

.container-central {
    width: 70%;
    /*margin-top: 70px;*/
    padding: 40px;
}

.container-central-header-botao {
    display: flex;
    justify-content: end;
}

.container-central-header-botao a {
    padding: 10px 10px;
    background-color: #007bff;
    border-radius: 5px;
    color: #fff
}

.container-central-topo {
    text-align: center;
    margin-bottom: 20px;
}

.container-central-topo h2 {
    margin-bottom: 5px;
}

.container-central-topo span {
    color: #007bff;
}

.container-central-search-div {
    width: 100%;
}
.container-central-search {
    margin-bottom: 20px;
}

.container-central-balance-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
    padding: 20px;
}

.central-balance-entrada {
    flex: 1;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #e0f7fa;
    color: #333;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.central-balance-saida {
    flex: 1;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #ffccbc;
    color: #333;
    border-radius: 5px;
    margin-left: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.central-balance-entrada i,
.central-balance-saida i {
    font-size: 24px;
    margin-bottom: 5px;
}

.central-balance-entrada span,
.central-balance-saida span {
    font-size: 20px;
    font-weight: bold;
    display: block;
}

.container-central-transacoes-div {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.container-central-transacoes-div h3 {
    padding: 10px;
    text-align: center;
}

.transacoes table {
    width: 100%;
    border-collapse: collapse;
}

.transacoes th,
.transacoes td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.transacoes th {
    background-color: #f2f2f2;
}

.transacoes tr:nth-child(even) {
    background-color: #f2f2f2;
}
