.114_465 {
    overflow:hidden;
}
.e114_465 {
    background-color:rgba(20.000000707805157, 19.0000007674098, 50.000000819563866, 1);
    width:1440px;
    height:1024px;
    position:absolute;
}
.e114_466 {
    width:430px;
    height:60px;
    position:absolute;
    left:984px;
    top:46px;
}
.e114_467 {
    background-color:rgba(29.000000171363354, 29.000000171363354, 65.0000037252903, 1);
    width:430px;
    height:44px;
    position:absolute;
    left:0px;
    top:0px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
.114_467 {
        border:1px solid rgba(29.000000171363354, 29.000000171363354, 65.0000037252903, 1);
    }
.e114_468 {
    color:rgba(174.00000482797623, 171.00000500679016, 216.00000232458115, 1);
    width:212px;
    height:46px;
    position:absolute;
    left:22px;
    top:14px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:12px;
    letter-spacing:0;
}
.e114_469 {
    width:16px;
    height:16px;
    position:absolute;
    left:398px;
    top:14px;
}
.114_470 {
        overflow:hidden;
    }
.e114_470 {
    width:16px;
    height:16px;
    position:absolute;
    left:0px;
    top:0px;
}
.e114_471 {
    background-color:rgba(255, 255, 255, 1);
    width:22.85714340209961px;
    height:24px;
    position:absolute;
    left:0px;
    top:-8px;
}
.e114_472 {
    width:668px;
    height:362px;
    position:absolute;
    left:346px;
    top:686px;
}
.e114_473 {
    background-color:rgba(29.000000171363354, 29.000000171363354, 65.0000037252903, 1);
    width:668px;
    height:362px;
    position:absolute;
    left:0px;
    top:0px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}
.e114_474 {
    color:rgba(255, 255, 255, 1);
    width:183.792724609375px;
    height:39.87955093383789px;
    position:absolute;
    left:23px;
    top:19px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:20.806724548339844px;
    letter-spacing:0;
}
.e114_475 {
    background-color:rgba(39.00000147521496, 38.0000015348196, 78.00000295042992, 1);
    width:207px;
    height:38px;
    position:absolute;
    left:246px;
    top:21px;
    border-top-left-radius:8.669468879699707px;
    border-top-right-radius:8.669468879699707px;
    border-bottom-left-radius:8.669468879699707px;
    border-bottom-right-radius:8.669468879699707px;
}
.114_476 {
        border:0.866946816444397px solid rgba(174.00000482797623, 171.00000500679016, 216.00000232458115, 1);
    }
.e114_476 {
    width:182px;
    height:38px;
    position:absolute;
    left:463px;
    top:21px;
    border-top-left-radius:8.669468879699707px;
    border-top-right-radius:8.669468879699707px;
    border-bottom-left-radius:8.669468879699707px;
    border-bottom-right-radius:8.669468879699707px;
}
.e114_477 {
    color:rgba(174.00000482797623, 171.00000500679016, 216.00000232458115, 1);
    width:157.78431701660156px;
    height:39.87955093383789px;
    position:absolute;
    left:259px;
    top:31px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:12px;
    letter-spacing:0;
}
.e114_478 {
    color:rgba(173.88760685920715, 170.75260788202286, 215.68750709295273, 1);
    width:34px;
    height:16px;
    position:absolute;
    left:33px;
    top:94px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:12.13725471496582px;
    letter-spacing:0;
}
.e114_479 {
    color:rgba(173.88760685920715, 170.75260788202286, 215.68750709295273, 1);
    width:26px;
    height:16px;
    position:absolute;
    left:256px;
    top:94px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:12.13725471496582px;
    letter-spacing:0;
}
.e114_480 {
    color:rgba(173.88760685920715, 170.75260788202286, 215.68750709295273, 1);
    width:45px;
    height:16px;
    position:absolute;
    left:407px;
    top:95px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:12.13725471496582px;
    letter-spacing:0;
}
.e114_481 {
    color:rgba(173.88760685920715, 170.75260788202286, 215.68750709295273, 1);
    width:37px;
    height:16px;
    position:absolute;
    left:552px;
    top:95px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:12.13725471496582px;
    letter-spacing:0;
}
.e114_482 {
    width:14.7380952835083px;
    height:26.008403778076172px;
    position:absolute;
    left:427.32916259765625px;
    top:27.60089111328125px;
    background-image:url(images/search.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.e114_483 {
    color:rgba(174.00000482797623, 171.00000500679016, 216.00000232458115, 1);
    width:84px;
    height:16px;
    position:absolute;
    left:496px;
    top:31px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:12px;
    letter-spacing:0;
}
.114_484 {
        border:0.866946816444397px solid rgba(174.00000482797623, 171.00000500679016, 216.00000232458115, 1);
    }
.e114_484 {
    width:10.403361320495605px;
    height:5.6351542472839355px;
    position:absolute;
    left:620.7255249023438px;
    top:38.93975830078125px;
}
.e114_485 {
    width:18.205881118774414px;
    height:18.205881118774414px;
    position:absolute;
    left:471px;
    top:32px;
    background-image:url(images/calendar.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.e114_486 {
    width:595.133056640625px;
    height:37.278709411621094px;
    position:absolute;
    left:26px;
    top:134px;
}
.e114_487 {
    color:rgba(255, 255, 255, 1);
    width:118px;
    height:19px;
    position:absolute;
    left:48.081207275390625px;
    top:7.27032470703125px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:13.871149063110352px;
    letter-spacing:0;
}
.e114_488 {
    color:rgba(255, 255, 255, 1);
    width:109.23529815673828px;
    height:16.47199058532715px;
    position:absolute;
    left:229.74090576171875px;
    top:8.27032470703125px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:13.871149063110352px;
    letter-spacing:0;
}
.e114_489 {
    color:rgba(255, 255, 255, 1);
    width:109.23529815673828px;
    height:16.47199058532715px;
    position:absolute;
    left:384.92437744140625px;
    top:9.27032470703125px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:13.871149063110352px;
    letter-spacing:0;
}
.e114_490 {
    border-radius:500px;
    background-color:rgba(234.00000125169754, 229.00000154972076, 250.00000029802322, 1);
    width:37.278709411621094px;
    height:37.278709411621094px;
    position:absolute;
    left:0px;
    top:0px;
}
.e114_491 {
    width:21.673669815063477px;
    height:21.673669815063477px;
    position:absolute;
    left:8.669464111328125px;
    top:7.80255126953125px;
    background-image:url(images/adobe_after_effects.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.e114_492 {
    background-color:rgba(2.217971384525299, 177.43749797344208, 89.82771188020706, 0.15000000596046448);
    width:69px;
    height:20px;
    position:absolute;
    left:526.133056640625px;
    top:9.17510986328125px;
    border-top-left-radius:8.669468879699707px;
    border-top-right-radius:8.669468879699707px;
    border-bottom-left-radius:8.669468879699707px;
    border-bottom-right-radius:8.669468879699707px;
}
.e114_493 {
    color:rgba(2.217971384525299, 177.43749797344208, 89.82773467898369, 1);
    width:49px;
    height:14px;
    position:absolute;
    left:536.133056640625px;
    top:12.17510986328125px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:10.403362274169922px;
    letter-spacing:0;
}
.e114_494 {
    width:595.133056640625px;
    height:37.278709411621094px;
    position:absolute;
    left:25.866943359375px;
    top:196.2786865234375px;
}
.e114_495 {
    color:rgba(255, 255, 255, 1);
    width:97.09803771972656px;
    height:16.47199058532715px;
    position:absolute;
    left:229.74090576171875px;
    top:9.27032470703125px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:13.871149063110352px;
    letter-spacing:0;
}
.e114_496 {
    color:rgba(255, 255, 255, 1);
    width:97.09803771972656px;
    height:16.47199058532715px;
    position:absolute;
    left:384.92437744140625px;
    top:8.53643798828125px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:13.871149063110352px;
    letter-spacing:0;
}
.e114_497 {
    color:rgba(255, 255, 255, 1);
    width:73px;
    height:19px;
    position:absolute;
    left:48.081207275390625px;
    top:8.27032470703125px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:13.871149063110352px;
    letter-spacing:0;
}
.e114_498 {
    border-radius:500px;
    background-color:rgba(254.87459152936935, 247.35000729560852, 224.5254072546959, 1);
    width:37.278709411621094px;
    height:37.278709411621094px;
    position:absolute;
    left:0px;
    top:0px;
}
.e114_499 {
    width:21.673669815063477px;
    height:21.673669815063477px;
    position:absolute;
    left:7.802520751953125px;
    top:7.8026123046875px;
    background-image:url(images/mcdonald_s.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.e114_500 {
    background-color:rgba(2.217971384525299, 177.43749797344208, 89.82771188020706, 0.15000000596046448);
    width:69px;
    height:20px;
    position:absolute;
    left:526.133056640625px;
    top:9.2269287109375px;
    border-top-left-radius:8.669468879699707px;
    border-top-right-radius:8.669468879699707px;
    border-bottom-left-radius:8.669468879699707px;
    border-bottom-right-radius:8.669468879699707px;
}
.e114_501 {
    color:rgba(2.217971384525299, 177.43749797344208, 89.82773467898369, 1);
    width:49px;
    height:14px;
    position:absolute;
    left:536.133056640625px;
    top:12.2269287109375px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:10.403362274169922px;
    letter-spacing:0;
}
.e114_502 {
    width:595.133056640625px;
    height:37.278709411621094px;
    position:absolute;
    left:25.866943359375px;
    top:258.55743408203125px;
}
.e114_503 {
    color:rgba(255, 255, 255, 1);
    width:109.23529815673828px;
    height:16.47199058532715px;
    position:absolute;
    left:384.057373046875px;
    top:6.802490234375px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:13.871149063110352px;
    letter-spacing:0;
}
.e114_504 {
    color:rgba(255, 255, 255, 1);
    width:95px;
    height:19px;
    position:absolute;
    left:229.74090576171875px;
    top:6.66943359375px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:13.871149063110352px;
    letter-spacing:0;
}
.e114_505 {
    color:rgba(255, 255, 255, 1);
    width:37px;
    height:17px;
    position:absolute;
    left:46.34735107421875px;
    top:10.4033203125px;
    font-family:Plus Jakarta Sans;
    text-align:left;
    font-size:13.871149063110352px;
    letter-spacing:0;
}
.e114_506 {
    border-radius:500px;
    background-color:rgba(252.42617011070251, 226.97382867336273, 231.26355528831482, 1);
    width:37.278709411621094px;
    height:37.278709411621094px;
    position:absolute;
    left:0px;
    top:0px;
}
.e114_507 {
    background-color:rgba(2.217971384525299, 177.43749797344208, 89.82771188020706, 0.15000000596046448);
    width:69px;
    height:20px;
    position:absolute;
    left:526.133056640625px;
    top:8.2786865234375px;
    border-top-left-radius:8.669468879699707px;
    border-top-right-radius:8.669468879699707px;
    border-bottom-left-radius:8.669468879699707px;
    border-bottom-right-radius:8.669468879699707px;
}
.e114_508 {
    color:rgba(2.217971384525299, 177.43749797344208, 89.82773467898369, 1);
    width:49px;
    height:14px;
    position:absolute;
    left:536.133056640625px;
    top:11.2786865234375px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:10.403362274169922px;
    letter-spacing:0;
}
.e114_509 {
    width:24.27450942993164px;
    height:13.004201889038086px;
    position:absolute;
    left:6.935577392578125px;
    top:13.87115478515625px;
    background-image:url(images/image_4.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.e114_510 {
    width:321px;
    height:126px;
    position:absolute;
    left:346px;
    top:126px;
}
.e114_511 {
    background-color:rgba(29.000000171363354, 29.000000171363354, 65.0000037252903, 1);
    width:321px;
    height:126px;
    position:absolute;
    left:0px;
    top:0px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}
.e114_512 {
    background-color:rgba(100.00000163912773, 207.00000286102295, 246.0000005364418, 1);
    width:45px;
    height:45px;
    position:absolute;
    left:24px;
    top:41px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
.e114_513 {
    color:rgba(255, 255, 255, 1);
    width:106px;
    height:32px;
    position:absolute;
    left:92px;
    top:61px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:24px;
    letter-spacing:0;
}
.e114_514 {
    color:rgba(140.00000685453415, 137.00000703334808, 180.00000447034836, 1);
    width:93px;
    height:22px;
    position:absolute;
    left:92px;
    top:37px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:16px;
    letter-spacing:0;
}
.e114_515 {
    background-color:rgba(2.217971384525299, 177.43749797344208, 89.82771188020706, 0.15000000596046448);
    width:63px;
    height:23px;
    position:absolute;
    left:231px;
    top:65px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
.e114_516 {
    color:rgba(2.217971384525299, 177.43749797344208, 89.82773467898369, 1);
    width:41px;
    height:15px;
    position:absolute;
    left:241px;
    top:69px;
    font-family:Inter;
    text-align:left;
    font-size:12px;
    letter-spacing:0;
}
.e114_517 {
    transform: rotate(128.25898054461504deg);
    width:17.999998092651367px;
    height:0px;
    position:absolute;
    left:51.145904541015625px;
    top:57px;
}
.114_517 {
        border:2px solid rgba(255, 255, 255, 1);
    }
.e114_518 {
    width:321px;
    height:126px;
    position:absolute;
    left:693px;
    top:126px;
}
.e114_519 {
    background-color:rgba(29.000000171363354, 29.000000171363354, 65.0000037252903, 1);
    width:321px;
    height:126px;
    position:absolute;
    left:0px;
    top:0px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}
.e114_520 {
    background-color:rgba(99.00000169873238, 89.00000229477882, 233.00000131130219, 1);
    width:45px;
    height:45px;
    position:absolute;
    left:28px;
    top:41px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
.e114_521 {
    color:rgba(255, 255, 255, 1);
    width:106px;
    height:32px;
    position:absolute;
    left:94px;
    top:63px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:24px;
    letter-spacing:0;
}
.e114_522 {
    color:rgba(140.00000685453415, 137.00000703334808, 180.00000447034836, 1);
    width:108px;
    height:22px;
    position:absolute;
    left:94px;
    top:37px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:16px;
    letter-spacing:0;
}
.e114_523 {
    background-color:rgba(235.0000011920929, 0, 26.999958492815495, 0.15000000596046448);
    width:63px;
    height:23px;
    position:absolute;
    left:232px;
    top:69px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
.e114_524 {
    color:rgba(228.4374949336052, 19.98828023672104, 19.98828023672104, 1);
    width:41px;
    height:15px;
    position:absolute;
    left:243px;
    top:73px;
    font-family:Inter;
    text-align:left;
    font-size:12px;
    letter-spacing:0;
}
.e114_525 {
    transform: rotate(-53.24101856136442deg);
    width:17.999998092651367px;
    height:0px;
    position:absolute;
    left:46px;
    top:72.4208984375px;
}
.114_525 {
        border:2px solid rgba(255, 255, 255, 1);
    }
.e114_526 {
    width:334px;
    height:57px;
    position:absolute;
    left:348px;
    top:33px;
}
.e114_527 {
    color:rgba(255, 255, 255, 1);
    width:275px;
    height:46px;
    position:absolute;
    left:1px;
    top:0px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:24px;
    letter-spacing:0;
}
.e114_528 {
    width:25px;
    height:25px;
    position:absolute;
    left:219px;
    top:2px;
    background-image:url(images/waving_hand_emoji.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.e114_529 {
    color:rgba(165.74999392032623, 165.74999392032623, 165.74999392032623, 1);
    width:334px;
    height:22px;
    position:absolute;
    left:0px;
    top:35px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:16px;
    letter-spacing:0;
}
.e114_530 {
    width:668px;
    height:382px;
    position:absolute;
    left:346px;
    top:278px;
}
.e114_531 {
    background-color:rgba(29.000000171363354, 29.000000171363354, 65.0000037252903, 1);
    width:668px;
    height:382px;
    position:absolute;
    left:0px;
    top:0px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}
.e114_532 {
    color:rgba(255, 255, 255, 1);
    width:109px;
    height:32px;
    position:absolute;
    left:24px;
    top:19px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:24px;
    letter-spacing:0;
}
.114_533 {
        border:1px solid rgba(174.00000482797623, 171.00000500679016, 216.00000232458115, 1);
    }
.e114_533 {
    width:75px;
    height:27px;
    position:absolute;
    left:569px;
    top:27px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
.e114_534 {
    color:rgba(140.00000685453415, 137.00000703334808, 180.00000447034836, 1);
    width:32px;
    height:15px;
    position:absolute;
    left:578px;
    top:33px;
    font-family:Plus Jakarta Sans;
    text-align:left;
    font-size:12px;
    letter-spacing:0;
}
.e114_535 {
    background-color:rgba(99.00000169873238, 89.00000229477882, 233.00000131130219, 1);
    width:12px;
    height:12px;
    position:absolute;
    left:313px;
    top:28px;
}
.e114_536 {
    background-color:rgba(100.00000163912773, 207.00000286102295, 246.0000005364418, 1);
    width:12px;
    height:12px;
    position:absolute;
    left:438px;
    top:28px;
}
.e114_537 {
    transform: rotate(7.951386703658792e-16deg);
    color:rgba(255, 255, 255, 1);
    width:57px;
    height:22px;
    position:absolute;
    left:337px;
    top:23px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:16px;
    letter-spacing:0;
}
.e114_538 {
    transform: rotate(7.951386703658792e-16deg);
    color:rgba(255, 255, 255, 1);
    width:72px;
    height:22px;
    position:absolute;
    left:464px;
    top:23px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:16px;
    letter-spacing:0;
}
.114_539 {
        border:1px solid rgba(140.00000685453415, 137.00000703334808, 180.00000447034836, 1);
    }
.e114_539 {
    width:8px;
    height:4px;
    position:absolute;
    left:628px;
    top:39px;
}
.e114_540 {
    transform: rotate(4.5004508662623775e-17deg);
    width:588px;
    height:0px;
    position:absolute;
    left:56px;
    top:152px;
}
.114_540 {
        border:1px solid rgba(140.00000685453415, 137.00000703334808, 180.00000447034836, 1);
    }
.e114_541 {
    transform: rotate(4.5004508662623775e-17deg);
    width:588px;
    height:0px;
    position:absolute;
    left:56px;
    top:96px;
}
.114_541 {
        border:1px solid rgba(140.00000685453415, 137.00000703334808, 180.00000447034836, 1);
    }
.e114_542 {
    transform: rotate(4.533755192969472e-17deg);
    width:588px;
    height:0px;
    position:absolute;
    left:56px;
    top:207px;
}
.114_542 {
        border:1px solid rgba(140.00000685453415, 137.00000703334808, 180.00000447034836, 1);
    }
.e114_543 {
    transform: rotate(4.517563047220707e-17deg);
    width:588px;
    height:0px;
    position:absolute;
    left:56px;
    top:264px;
}
.114_543 {
        border:1px solid rgba(140.00000685453415, 137.00000703334808, 180.00000447034836, 1);
    }
.e114_544 {
    transform: rotate(4.771237726324196e-17deg);
    width:588px;
    height:0px;
    position:absolute;
    left:56px;
    top:320px;
}
.114_544 {
        border:1px solid rgba(140.00000685453415, 137.00000703334808, 180.00000447034836, 1);
    }
.e114_545 {
    color:rgba(140.00000685453415, 137.00000703334808, 180.00000447034836, 1);
    width:26px;
    height:12px;
    position:absolute;
    left:24px;
    top:86px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:12px;
    letter-spacing:0;
}
.e114_546 {
    color:rgba(140.00000685453415, 137.00000703334808, 180.00000447034836, 1);
    width:32px;
    height:13px;
    position:absolute;
    left:24px;
    top:142px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:12px;
    letter-spacing:0;
}
.e114_547 {
    color:rgba(140.00000685453415, 137.00000703334808, 180.00000447034836, 1);
    width:32px;
    height:12px;
    position:absolute;
    left:24px;
    top:198px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:12px;
    letter-spacing:0;
}
.e114_548 {
    color:rgba(140.00000685453415, 137.00000703334808, 180.00000447034836, 1);
    width:26px;
    height:12px;
    position:absolute;
    left:24px;
    top:255px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:12px;
    letter-spacing:0;
}
.e114_549 {
    color:rgba(140.00000685453415, 137.00000703334808, 180.00000447034836, 1);
    width:26px;
    height:13px;
    position:absolute;
    left:24px;
    top:311px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:12px;
    letter-spacing:0;
}
.e114_550 {
    color:rgba(140.00000685453415, 137.00000703334808, 180.00000447034836, 1);
    width:27px;
    height:12px;
    position:absolute;
    left:89px;
    top:331px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:12px;
    letter-spacing:0;
}
.e114_551 {
    color:rgba(140.00000685453415, 137.00000703334808, 180.00000447034836, 1);
    width:30px;
    height:12px;
    position:absolute;
    left:167px;
    top:331px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:12px;
    letter-spacing:0;
}
.e114_552 {
    color:rgba(140.00000685453415, 137.00000703334808, 180.00000447034836, 1);
    width:27px;
    height:12px;
    position:absolute;
    left:246px;
    top:331px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:12px;
    letter-spacing:0;
}
.e114_553 {
    color:rgba(140.00000685453415, 137.00000703334808, 180.00000447034836, 1);
    width:26px;
    height:12px;
    position:absolute;
    left:321px;
    top:331px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:12px;
    letter-spacing:0;
}
.e114_554 {
    color:rgba(140.00000685453415, 137.00000703334808, 180.00000447034836, 1);
    width:24px;
    height:12px;
    position:absolute;
    left:472px;
    top:331px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:12px;
    letter-spacing:0;
}
.e114_555 {
    color:rgba(140.00000685453415, 137.00000703334808, 180.00000447034836, 1);
    width:31px;
    height:12px;
    position:absolute;
    left:395px;
    top:331px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:12px;
    letter-spacing:0;
}
.e114_556 {
    color:rgba(140.00000685453415, 137.00000703334808, 180.00000447034836, 1);
    width:20px;
    height:12px;
    position:absolute;
    left:549px;
    top:331px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:12px;
    letter-spacing:0;
}
.e114_557 {
    color:rgba(140.00000685453415, 137.00000703334808, 180.00000447034836, 1);
    width:30px;
    height:12px;
    position:absolute;
    left:621px;
    top:331px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:12px;
    letter-spacing:0;
}
.e114_558 {
    background-color:rgba(100.00000163912773, 207.00000286102295, 246.0000005364418, 1);
    width:7px;
    height:93px;
    position:absolute;
    left:89px;
    top:227px;
    border-radius:Symbol(figma.mixed)px;
}
.e114_559 {
    background-color:rgba(100.00000163912773, 207.00000286102295, 246.0000005364418, 1);
    width:7px;
    height:93px;
    position:absolute;
    left:319px;
    top:227px;
    border-radius:Symbol(figma.mixed)px;
}
.e114_560 {
    background-color:rgba(99.00000169873238, 89.00000229477882, 233.00000131130219, 1);
    width:7px;
    height:149px;
    position:absolute;
    left:103px;
    top:171px;
    border-radius:Symbol(figma.mixed)px;
}
.e114_561 {
    background-color:rgba(99.00000169873238, 89.00000229477882, 233.00000131130219, 1);
    width:7px;
    height:149px;
    position:absolute;
    left:334px;
    top:171px;
    border-radius:Symbol(figma.mixed)px;
}
.e114_562 {
    background-color:rgba(100.00000163912773, 207.00000286102295, 246.0000005364418, 1);
    width:7px;
    height:135px;
    position:absolute;
    left:167px;
    top:185px;
    border-radius:Symbol(figma.mixed)px;
}
.e114_563 {
    background-color:rgba(100.00000163912773, 207.00000286102295, 246.0000005364418, 1);
    width:7px;
    height:135px;
    position:absolute;
    left:394px;
    top:185px;
    border-radius:Symbol(figma.mixed)px;
}
.e114_564 {
    background-color:rgba(100.00000163912773, 207.00000286102295, 246.0000005364418, 1);
    width:7px;
    height:70px;
    position:absolute;
    left:246px;
    top:250px;
    border-radius:Symbol(figma.mixed)px;
}
.e114_565 {
    background-color:rgba(100.00000163912773, 207.00000286102295, 246.0000005364418, 1);
    width:7px;
    height:100px;
    position:absolute;
    left:472px;
    top:220px;
    border-radius:Symbol(figma.mixed)px;
}
.e114_566 {
    background-color:rgba(100.00000163912773, 207.00000286102295, 246.0000005364418, 1);
    width:7px;
    height:100px;
    position:absolute;
    left:546px;
    top:220px;
    border-radius:Symbol(figma.mixed)px;
}
.e114_567 {
    background-color:rgba(100.00000163912773, 207.00000286102295, 246.0000005364418, 1);
    width:7px;
    height:100px;
    position:absolute;
    left:621px;
    top:220px;
    border-radius:Symbol(figma.mixed)px;
}
.e114_568 {
    background-color:rgba(99.00000169873238, 89.00000229477882, 233.00000131130219, 1);
    width:7px;
    height:94px;
    position:absolute;
    left:181px;
    top:226px;
    border-radius:Symbol(figma.mixed)px;
}
.e114_569 {
    background-color:rgba(90.00000223517418, 81.00000277161598, 212.00000256299973, 1);
    width:7px;
    height:175px;
    position:absolute;
    left:408px;
    top:145px;
    border-radius:Symbol(figma.mixed)px;
}
.e114_570 {
    background-color:rgba(99.00000169873238, 89.00000229477882, 233.00000131130219, 1);
    width:7px;
    height:71px;
    position:absolute;
    left:486px;
    top:249px;
    border-radius:Symbol(figma.mixed)px;
}
.e114_571 {
    background-color:rgba(99.00000169873238, 89.00000229477882, 233.00000131130219, 1);
    width:7px;
    height:71px;
    position:absolute;
    left:635px;
    top:249px;
    border-radius:Symbol(figma.mixed)px;
}
.e114_572 {
    background-color:rgba(99.00000169873238, 89.00000229477882, 233.00000131130219, 1);
    width:7px;
    height:71px;
    position:absolute;
    left:560px;
    top:249px;
    border-radius:Symbol(figma.mixed)px;
}
.e114_573 {
    background-color:rgba(99.00000169873238, 89.00000229477882, 233.00000131130219, 1);
    width:7px;
    height:111px;
    position:absolute;
    left:260px;
    top:209px;
    border-radius:Symbol(figma.mixed)px;
}
.e114_574 {
    box-shadow:0px 26.842105865478516px 39.47368621826172px rgba(0, 0, 0, 0.17000000178813934);
    background-color:rgba(70.27994200587273, 70.27994200587273, 134.93749290704727, 1);
    width:114px;
    height:55px;
    position:absolute;
    left:415px;
    top:155px;
    border-radius:Symbol(figma.mixed)px;
}
.e114_575 {
    color:rgba(255, 255, 255, 1);
    width:78.9473648071289px;
    height:30.789474487304688px;
    position:absolute;
    left:433px;
    top:167px;
    font-family:Inter;
    text-align:left;
    font-size:12px;
    letter-spacing:0;
}
.e114_576 {
    width:374px;
    height:433px;
    position:absolute;
    left:1040px;
    top:126px;
}
.e114_577 {
    background-color:rgba(29.000000171363354, 29.000000171363354, 65.0000037252903, 1);
    width:374px;
    height:433px;
    position:absolute;
    left:0px;
    top:0px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}
.e114_578 {
    color:rgba(255, 255, 255, 1);
    width:98px;
    height:32px;
    position:absolute;
    left:23px;
    top:19px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:24px;
    letter-spacing:0;
}
.e114_579 {
    width:326px;
    height:184px;
    position:absolute;
    left:24px;
    top:139px;
}
.e114_580 {
    background-image:linear-gradient(0deg, rgba(156.00000590085983, 44.000001177191734, 243.00000071525574, 1) 0%,rgba(58.01250547170639, 111.38400077819824, 248.62500607967377, 1) 100%) ;
    width:326px;
    height:184px;
    position:absolute;
    left:0px;
    top:0px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}
.e114_581 {
    width:326px;
    height:184px;
    position:absolute;
    left:0px;
    top:0px;
}
.114_582 {
        overflow:hidden;
    }
.e114_582 {
    background-color:rgba(236.93750202655792, 112.87929654121399, 60.221615731716156, 1);
    width:326px;
    height:184px;
    position:absolute;
    left:0px;
    top:0px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}
.e114_583 {
    border-radius:500px;
    background-color:rgba(0, 0, 0, 1);
    opacity:0.10000000149011612;
    width:332.20953369140625px;
    height:226px;
    position:absolute;
    left:-140.7492218017578px;
    top:100px;
}
.e114_584 {
    border-radius:500px;
    background-color:rgba(0, 0, 0, 1);
    opacity:0.07999999821186066;
    width:332.20953369140625px;
    height:226px;
    position:absolute;
    left:134.5396728515625px;
    top:-142px;
}
.e114_585 {
    color:rgba(255, 255, 255, 1);
    width:44.5015869140625px;
    height:13px;
    position:absolute;
    left:250.45077514648438px;
    top:146px;
    font-family:Cera Pro;
    text-align:right;
    font-size:14px;
    letter-spacing:0.5;
}
.e114_586 {
    color:rgba(255, 255, 255, 1);
    opacity:0.8999999761581421;
    width:170.76190185546875px;
    height:13px;
    position:absolute;
    left:31.047624588012695px;
    top:146px;
    font-family:Cera Pro;
    text-align:left;
    font-size:14px;
    letter-spacing:0.5;
}
.e114_587 {
    width:46.571067810058594px;
    height:35.91815948486328px;
    position:absolute;
    left:248.3809356689453px;
    top:25px;
}
.e114_588 {
    background-color:rgba(255, 95.00000193715096, 0, 1);
    width:12.59213638305664px;
    height:21.862512588500977px;
    position:absolute;
    left:16.989774703979492px;
    top:2.97418212890625px;
}
.e114_589 {
    width:46.571067810058594px;
    height:35.91815948486328px;
    position:absolute;
    left:0px;
    top:0px;
}
.e114_590 {
    background-color:rgba(255, 255, 255, 1);
    width:41.973968505859375px;
    height:5.253118515014648px;
    position:absolute;
    left:2.3589234352111816px;
    top:30.6650390625px;
}
.e114_591 {
    background-color:rgba(235.0000011920929, 0, 27.000000290572643, 1);
    width:23.2654972076416px;
    height:27.811004638671875px;
    position:absolute;
    left:0px;
    top:0px;
}
.e114_592 {
    background-color:rgba(247.00000047683716, 158.00000578165054, 27.000000290572643, 1);
    width:23.26568031311035px;
    height:27.811004638671875px;
    position:absolute;
    left:23.305477142333984px;
    top:0px;
}
.e114_593 {
    color:rgba(255, 255, 255, 1);
    width:150.06349182128906px;
    height:26px;
    position:absolute;
    left:31.047624588012695px;
    top:52px;
    font-family:Cera Pro;
    text-align:left;
    font-size:28px;
    letter-spacing:0;
}
.e114_594 {
    color:rgba(255, 255, 255, 1);
    opacity:0.5400000214576721;
    width:130.39999389648438px;
    height:13px;
    position:absolute;
    left:31.047624588012695px;
    top:30px;
    font-family:Cera Pro;
    text-align:left;
    font-size:14px;
    letter-spacing:0;
}
.e114_595 {
    background-color:rgba(99.00000169873238, 89.00000229477882, 233.00000131130219, 1);
    width:156px;
    height:48px;
    position:absolute;
    left:24px;
    top:359px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
.114_596 {
        border:1px solid rgba(255, 255, 255, 1);
    }
.e114_596 {
    width:156px;
    height:48px;
    position:absolute;
    left:194px;
    top:359px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
.e114_597 {
    transform: rotate(6.144253189576492e-16deg);
    color:rgba(255, 255, 255, 1);
    width:97px;
    height:19px;
    position:absolute;
    left:54px;
    top:373px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:14px;
    letter-spacing:0;
}
.e114_598 {
    transform: rotate(6.144253189576492e-16deg);
    color:rgba(255, 255, 255, 1);
    width:57px;
    height:19px;
    position:absolute;
    left:244px;
    top:373px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:14px;
    letter-spacing:0;
}
.e114_599 {
    color:rgba(255, 255, 255, 1);
    width:127px;
    height:32px;
    position:absolute;
    left:23px;
    top:91px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:24px;
    letter-spacing:0;
}
.e114_600 {
    color:rgba(140.00000685453415, 137.00000703334808, 180.00000447034836, 1);
    width:97px;
    height:22px;
    position:absolute;
    left:23px;
    top:69px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:16px;
    letter-spacing:0;
}
.e114_601 {
    background-color:rgba(99.00000169873238, 89.00000229477882, 233.00000131130219, 1);
    width:20px;
    height:6px;
    position:absolute;
    left:159px;
    top:339px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
}
.e114_602 {
    border-radius:500px;
    background-color:rgba(39.00000147521496, 38.0000015348196, 78.00000295042992, 1);
    width:6px;
    height:6px;
    position:absolute;
    left:183px;
    top:339px;
}
.e114_603 {
    border-radius:500px;
    background-color:rgba(39.00000147521496, 38.0000015348196, 78.00000295042992, 1);
    width:6px;
    height:6px;
    position:absolute;
    left:193px;
    top:339px;
}
.e114_604 {
    width:374px;
    height:415px;
    position:absolute;
    left:1042px;
    top:585px;
}
.e114_605 {
    background-color:rgba(29.000000171363354, 29.000000171363354, 65.0000037252903, 1);
    width:374px;
    height:415px;
    position:absolute;
    left:0px;
    top:0px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}
.114_606 {
        border:1px solid rgba(140.00000685453415, 137.00000703334808, 180.00000447034836, 1);
    }
.e114_606 {
    width:75px;
    height:27px;
    position:absolute;
    left:277px;
    top:19px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
.e114_607 {
    color:rgba(174.00000482797623, 171.00000500679016, 216.00000232458115, 1);
    width:36px;
    height:16px;
    position:absolute;
    left:286px;
    top:25px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:12px;
    letter-spacing:0;
}
.e114_608 {
    background-color:rgba(174.00000482797623, 171.00000500679016, 216.00000232458115, 1);
    width:8px;
    height:4px;
    position:absolute;
    left:336px;
    top:31px;
}
.114_608 {
        border:1px solid rgba(174.00000482797623, 171.00000500679016, 216.00000232458115, 1);
    }
.e114_609 {
    border-radius:10px;
    background-color:rgba(58.00000034272671, 58.00000034272671, 90.00000223517418, 1);
    width:292px;
    height:285px;
    position:absolute;
    left:37px;
    top:106px;
}
.e114_610 {
    border-radius:10px;
    background-color:rgba(99.00000169873238, 89.00000229477882, 233.00000131130219, 1);
    width:292px;
    height:285px;
    position:absolute;
    left:37px;
    top:106px;
}
.e114_611 {
    border-radius:10px;
    background-color:rgba(100.00000163912773, 207.00000286102295, 246.0000005364418, 1);
    width:292px;
    height:285px;
    position:absolute;
    left:37px;
    top:106px;
}
.e114_612 {
    color:rgba(255, 255, 255, 1);
    width:86px;
    height:32px;
    position:absolute;
    left:32px;
    top:16px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:24px;
    letter-spacing:0;
}
.e114_613 {
    color:rgba(255, 255, 255, 1);
    width:74px;
    height:43px;
    position:absolute;
    left:160px;
    top:193px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:24px;
    letter-spacing:0;
}
.e114_614 {
    border-radius:500px;
    background-color:rgba(102.00000151991844, 30.00000011175871, 255, 1);
    width:12px;
    height:12px;
    position:absolute;
    left:38px;
    top:285px;
}
.e114_615 {
    border-radius:500px;
    background-color:rgba(100.00000163912773, 207.00000286102295, 246.0000005364418, 1);
    width:12px;
    height:12px;
    position:absolute;
    left:258px;
    top:285px;
}
.e114_616 {
    color:rgba(255, 255, 255, 1);
    width:124px;
    height:25px;
    position:absolute;
    left:61px;
    top:281px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:14px;
    letter-spacing:0;
}
.e114_617 {
    color:rgba(255, 255, 255, 1);
    width:40px;
    height:24px;
    position:absolute;
    left:38px;
    top:303px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:18px;
    letter-spacing:0;
}
.e114_618 {
    color:rgba(255, 255, 255, 1);
    width:40px;
    height:24px;
    position:absolute;
    left:258px;
    top:303px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:18px;
    letter-spacing:0;
}
.e114_619 {
    color:rgba(255, 255, 255, 1);
    width:77px;
    height:24px;
    position:absolute;
    left:281px;
    top:282px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:14px;
    letter-spacing:0;
}
.e114_620 {
    color:rgba(255, 255, 255, 1);
    width:110px;
    height:22px;
    position:absolute;
    left:103px;
    top:360px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:16px;
    letter-spacing:0;
}
.e114_621 {
    transform: rotate(-1.182994464513103e-14deg);
    width:15.999996185302734px;
    height:0px;
    position:absolute;
    left:254px;
    top:373px;
}
.114_621 {
        border:0.8999999761581421px solid rgba(255, 255, 255, 1);
    }
.114_622 {
        border:1px solid rgba(255, 255, 255, 1);
    }
.e114_622 {
    width:299px;
    height:48px;
    position:absolute;
    left:37px;
    top:348px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
.e114_623 {
    width:320px;
    height:1024px;
    position:absolute;
    left:0px;
    top:0px;
}
.e114_624 {
    /*background-color:rgba(29.000000171363354, 29.000000171363354, 65.0000037252903, 1);*/
    background-color:rgba(99.00000169873238, 89.00000229477882, 233.00000131130219, 1);
    width:263px;
    height:57px;
    position:absolute;


}
.e114_625 {

    /*border-top-left-radius:10px;*/
    /*border-top-right-radius:10px;*/
    /*border-bottom-left-radius:10px;*/
    /*border-bottom-right-radius:10px;*/
}
.e114_626 {
    color:rgba(255, 255, 255, 1);
    width:84px;
    height:22px;
    position:absolute;
    left:82px;
    top:185px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:16px;
    letter-spacing:0;
}
.e114_627 {
    color:rgba(255, 255, 255, 1);
    width:67px;
    height:22px;
    position:absolute;
    left:82px;
    top:251px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:16px;
    letter-spacing:0;
}
.e114_628 {
    color:rgba(255, 255, 255, 1);
    width:71px;
    height:22px;
    position:absolute;
    left:82px;
    top:308px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:16px;
    letter-spacing:0;
}
.e114_629 {
    color:rgba(255, 255, 255, 1);
    width:75px;
    height:27px;
    position:absolute;
    left:82px;
    top:523px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:20px;
    letter-spacing:0;
}
.e114_630 {
    color:rgba(255, 255, 255, 1);
    width:70px;
    height:22px;
    position:absolute;
    left:82px;
    top:369px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:16px;
    letter-spacing:0;
}
.e114_631 {
    color:rgba(255, 255, 255, 1);
    width:110px;
    height:27px;
    position:absolute;
    left:82px;
    top:583px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:20px;
    letter-spacing:0;
}
.e114_632 {
    color:rgba(255, 255, 255, 1);
    width:62px;
    height:22px;
    position:absolute;
    left:82px;
    top:428px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:16px;
    letter-spacing:0;
}
.e114_633 {
    color:rgba(255, 255, 255, 1);
    width:98px;
    height:27px;
    position:absolute;
    left:82px;
    top:643px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:20px;
    letter-spacing:0;
}
.114_634 {
        border:1px solid rgba(75.22500425577164, 75.22500425577164, 153.00000607967377, 1);
    }
.e114_634 {
    width:259.6713562011719px;
    height:0px;
    position:absolute;
    left:31.9788818359375px;
    top:488px;
}
.e114_635 {
    width:24px;
    height:24px;
    position:absolute;
    left:38px;
    top:641px;
}
.i114_635_251_8532 {
    border:2px solid rgba(255, 255, 255, 1);
}
.ei114_635_251_8532 {
    width:20.000001907348633px;
    height:20.000001907348633px;
    position:absolute;
    left:2px;
    top:2px;
}
.e114_636 {
    background-color:rgba(99.00000169873238, 89.00000229477882, 233.00000131130219, 1);
    width:50px;
    height:27px;
    position:absolute;
    left:242px;
    top:646px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
}
.e114_637 {
    border-radius:500px;
    background-color:rgba(255, 250.75000405311584, 250.75000405311584, 1);
    width:19px;
    height:19px;
    position:absolute;
    left:267px;
    top:650px;
}
.e114_638 {
    width:170.20506286621094px;
    height:50.051048278808594px;
    position:absolute;
    left:28px;
    top:57px;
}
.e114_639 {
    color:rgba(255, 255, 255, 1);
    width:13.092693328857422px;
    height:7.481538772583008px;
    position:absolute;
    left:157.11236572265625px;
    top:14.963139533996582px;
    font-family:Plus Jakarta Sans;
    text-align:left;
    font-size:6.025416374206543px;
    letter-spacing:0;
}
.e114_640 {
    width:154.46652221679688px;
    height:50.051048278808594px;
    position:absolute;
    left:0px;
    top:0px;
}
.e114_641 {
    width:49.37815856933594px;
    height:49.37815856933594px;
    position:absolute;
    left:0px;
    top:0px;
}
.e114_642 {
    background-color:rgba(99.00000169873238, 89.00000229477882, 233.00000131130219, 1);
    width:39.11309814453125px;
    height:49.378021240234375px;
    position:absolute;
    left:5.13250732421875px;
    top:4.227640904019836e-9px;
}
.e114_643 {
    background-color:rgba(255, 255, 255, 1);
    width:39.11309814453125px;
    height:49.378021240234375px;
    position:absolute;
    left:0px;
    top:-4.227640904019836e-9px;
}
.e114_644 {
    border-radius:500px;
    background-color:rgba(0, 0, 0, 1);
    width:11.97046184539795px;
    height:11.97046184539795px;
    position:absolute;
    left:12.82318115234375px;
    top:23.94091796875px;
}
.e114_645 {
    background-color:rgba(255, 255, 255, 1);
    width:95.6940689086914px;
    height:42.55877685546875px;
    position:absolute;
    left:58.7724609375px;
    top:7.492188930511475px;
}
.e114_646 {
    color:rgba(255, 255, 255, 1);
    width:73px;
    height:27px;
    position:absolute;
    left:111px;
    top:917px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:20px;
    letter-spacing:0;
}
.114_647 {
        border:1px solid rgba(255, 255, 255, 1);
    }
.e114_647 {
    width:12px;
    height:6.5px;
    position:absolute;
    left:280px;
    top:937px;
}
.e114_648 {
    color:rgba(240.00000089406967, 240.00000089406967, 251.00000023841858, 1);
    width:109px;
    height:22px;
    position:absolute;
    left:111px;
    top:943px;
    font-family:General Sans Variable;
    text-align:left;
    font-size:16px;
    letter-spacing:0;
}
.e114_649 {
    border-radius:500px;
    background-color:rgba(176.37499898672104, 245.56501507759094, 255, 1);
    width:60px;
    height:60px;
    position:absolute;
    left:39px;
    top:910px;
}
.e114_650 {
    width:60px;
    height:60px;
    position:absolute;
    left:39px;
    top:910px;
}
.114_651 {
        overflow:hidden;
    }
.e114_651 {
    border-radius:500px;
    background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width:60px;
    height:60px;
    position:absolute;
    left:0px;
    top:0px;
}
.e114_652 {
    width:85px;
    height:56px;
    position:absolute;
    left:-13px;
    top:5px;
    background-image:url(images/young_man_in_formalwear_standing_with_hands_on_hip.png);
    background-repeat:no-repeat;
    background-size:cover;
}
.e114_653 {
    width:24px;
    height:24px;
    position:absolute;
    left:39px;
    top:252px;
}
.i114_653_251_9794 {
    border:2px solid rgba(255, 255, 255, 1);
}
.ei114_653_251_9794 {
    width:19px;
    height:17px;
    position:absolute;
    left:2.5px;
    top:3px;
    border-radius:Symbol(figma.mixed)px;
}
.e114_654 {
    width:24px;
    height:24px;
    position:absolute;
    left:39px;
    top:307px;
}
.i114_654_251_9420 {
    border:2px solid rgba(255, 255, 255, 1);
}
.ei114_654_251_9420 {
    width:18px;
    height:18.431955337524414px;
    position:absolute;
    left:3px;
    top:2.5680434703826904px;
    border-radius:Symbol(figma.mixed)px;
}
.e114_655 {
    width:24px;
    height:24px;
    position:absolute;
    left:40px;
    top:369px;
}
.i114_655_251_9948 {
    border:2px solid rgba(255, 255, 255, 1);
}
.ei114_655_251_9948 {
    width:18px;
    height:17px;
    position:absolute;
    left:3px;
    top:3px;
}
.e114_656 {
    width:24px;
    height:24px;
    position:absolute;
    left:39px;
    top:430px;
}
.i114_656_251_10524 {
    border:2px solid rgba(255, 255, 255, 1);
}
.ei114_656_251_10524 {
    width:20px;
    height:20px;
    position:absolute;
    left:2px;
    top:2px;
}
.e114_657 {
    width:24px;
    height:24px;
    position:absolute;
    left:36px;
    top:527px;
}
.i114_657_251_10192 {
    border:2px solid rgba(255, 255, 255, 1);
}
.ei114_657_251_10192 {
    width:16px;
    height:19.793615341186523px;
    position:absolute;
    left:4px;
    top:2.068000555038452px;
    border-radius:Symbol(figma.mixed)px;
}
.e114_658 {
    width:24px;
    height:24px;
    position:absolute;
    left:37px;
    top:586px;
}
.i114_658_251_9246 {
    border:2px solid rgba(255, 255, 255, 1);
}
.ei114_658_251_9246 {
    width:20px;
    height:20px;
    position:absolute;
    left:2px;
    top:2px;
}
.e114_659 {
    width:24px;
    height:24px;
    position:absolute;
    left:44px;
    top:185px;
}
.e114_660 {
    background-color:rgba(255, 255, 255, 1);
    width:8.5px;
    height:8.490128517150879px;
    position:absolute;
    left:13.5px;
    top:2px;
}
.e114_661 {
    background-color:rgba(255, 255, 255, 1);
    width:8.5px;
    height:8.5px;
    position:absolute;
    left:13.5px;
    top:13.5px;
}
.e114_662 {
    background-color:rgba(255, 255, 255, 1);
    width:8.5px;
    height:8.490128517150879px;
    position:absolute;
    left:2px;
    top:2px;
}
.e114_663 {
    background-color:rgba(255, 255, 255, 1);
    width:8.5px;
    height:8.5px;
    position:absolute;
    left:2px;
    top:13.5px;
}
.e114_664 {
    transform: rotate(-180deg);
    background-color:rgba(255, 255, 255, 1);
    width:24px;
    height:24px;
    position:absolute;
    left:24px;
    top:24px;
}
